h1{
    color: rgb(155, 021, 110);
    background-color: black;

}

p{
    color: #ff0000;
    color: #00ff00;
    color: #0000ff;
    color: #ff00ff;
    
}

button{
    color: aquamarine;
    background: black;
}