*{
   margin: 0;
   padding: 0;
}
.container{
  height: 100vh; 
  width: 100vw;
  background-color: darkslategray;
  border: 2px solid darkturquoise;
  display: grid;
} 
.header{
   border: 2px solid black;
   display: grid;
   grid-template-columns: 1fr;
    
}
.sidebar{
   border: 2px solid black;
    
}
.main{
   border: 2px solid black;
    
}
.ads{
   border: 2px solid black;
    
}
.footer{
   border: 2px solid black;
    
}